@import "../../style/index";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  .left {

  }
  .right {

  }

  .connectBtn{
    display: flex;
    width: 100%;
    font-size: 0.9rem;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    background-color: rgb(47, 128, 237);
    color: rgb(255, 255, 255);
    font-weight: 500;
    flex-flow: row nowrap;
    padding: 0.3rem 1rem;
    border-radius: 2rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(47, 128, 237);
    border-image: initial;
    font-size: 14px;
  }
}
